* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
}

.title-bar {
  display: flex;
  width: 100%;
  height: 3.5%;
  background-color: green;
  color: white;
  outline: none;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  display: flex;
  width: 100%;
  height: 4%;
  /* border: 1px solid; */
}

.menu-bar p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
}

.menu-bar p:hover,
.menu-bar-option-selected {
  background-color: green;
  color: white;
}

.menu-options {
  height: 6%;
  width: 100%;
}

.formula-bar {
  height: 4%;
  width: 100%;
}

.formula-bar input {
  height: 100%;
  border: 1px solid green;
  outline: none;
}

#select-cell {
  width: 20%;
}

#complete-formula {
  width: 80%;
}

.grid {
  width: 100%;
  height: 78.5%;
  background-color: yellow;
}

.sheets-bar {
  height: 4%;
  width: 100%;
}

.sheets-bar div {
  border: 1px solid green;
  height: 100%;
  width: 20%;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
}

.menu-options div {
  height: 100%;
  border: 1px solid black;
}

.b-u-i,
.colors,
.alignment {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
