* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
}

.title-bar {
  display: flex;
  width: 100%;
  height: 3.5%;
  background-color: green;
  color: white;
  outline: none;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  display: flex;
  width: 100%;
  height: 4%;
  background-color: rgb(51, 91, 51);
  /* border: 1px solid; */
}

.menu-bar p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
}

.menu-bar p:hover,
.menu-bar-option-selected {
  background-color: white;
  color: black;
}

.menu-options {
  height: 6%;
  width: 100%;
}

.formula-bar {
  height: 4%;
  width: 100%;
}

.formula-bar input {
  height: 100%;
  border: 1px solid green;
  outline: none;
}

#select-cell {
  width: 20%;
}

#complete-formula {
  width: 80%;
}

.grid {
  position: relative;
  width: 100%;
  height: 78.5%;
  background-color: rgb(255, 255, 212);
  overflow: auto;
  padding-top: 30px;
  padding-left: 30px;
}

.sheets-bar {
  height: 4%;
  width: 100%;
}

.sheets-bar div {
  border: 1px solid green;
  height: 100%;
  width: 20%;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
}

.menu-options div {
  height: 100%;
}

.b-u-i,
.colors,
.alignment {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.font-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.blank-corner{
  height: 30px;
  width: 30px;
  background-color: rgb(0, 26, 0);
  position: fixed;
  top: 17.5vh;
  left: 0;
  z-index: 3;
}

.column-tags{
  position: absolute;
  display: flex;
  top: 0;
  left: 30px;
}

.column-tag-cell{
  height: 30px;
  width: 80px;
  background-color: rgb(188, 242, 188);
  border: 1px solid white;
  text-align: center;
  padding-top: 5px;
}

.row-numbers{
  position: absolute;
  left: 0;
  top: 30px;
}

.row-number-cell{
  height: 30px;
  width: 30px;
  border: 1px solid white;
  background-color: rgb(188, 242, 188);
  text-align: center;
  padding-top: 5px;
}

.row{
  display: flex;
}

.cell{
  height: 30px;
  width: 80px;
  border: 1px solid green;
  flex-shrink: 0;
  outline: none;
  /* overflow: hidden; */
}

.grid-selected-cell{
  border: 3px solid #34ace0 ;
}